<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Columna izquierda: Botón para crear tablero -->
      <ion-col size="12" size-md="4">
        <ion-list>
          <ion-item button color="primary" (click)="crearTablero()">
            <ion-label>Nuevo Tablero</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Columna derecha: Cards dinámicos -->
      <ion-col size="12" size-md="8">
        <div #tablerosContainer></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>