<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tableros y Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tableros y Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="boards-section">
    <div class="section-header">
      <h2>Mis Tableros</h2>
      <span class="counter">{{cantidadTableros}} Tableros</span>
    </div>
    <div #tablerosContainer class="boards-container">
      <!-- Aquí se pintan dinámicamente los tableros con Renderer2 -->
    </div>
  </div>
</ion-content>
