<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Integrantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Integrantes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ usuarioRandom }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="irAsignacionTareas()" type="button">
        Ir a Asignación de Tareas
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>